# Directory
person:
  name: sahil
  age: 20
  city: Hyderabad
  hobbies: # List
    - cycling
    - cookies
  friends:
    - name: friend1
      age: 22
    - name: friend2
      age: 25

--- # YAML Document Separator

apiVersion: v1 # String
kind: Pod # String
metadata: # Dictionary
  name: myapp-pod
  labels: # Dictionary
    app: myapp
spec:
  containers: # List
    - name: myapp
      image: stacksimplify.kubenginx:1.0.0
      ports: # List
        - containerPort: 80
          protocol: "TCP"
        - containerPort: 81
          protocol: "TCP"
